h1 {
  margin-bottom: 1.5em;
}
h1:after {
  display: none;
}
.fleur {
  display: none;
}
figure {
  float: right;
  line-height: 1.2;
  margin: 8px 0 1em 1em;
}
figure img.small {
  width: 150px;
}
figure figcaption {
  font-size: 12px;
  width: 150px;
  text-align: center;
}
.figure-row {
  border-spacing: 1em 0;
  display: table;
  margin: 0.4em auto 0;
}
.figure-row.right {
  float: right;
  margin-left: 0;
  margin-right: 0;
}
canvas + .figure-row,
.highlight + .figure-row {
  margin-top: 2em;
}
.figure-row figure {
  display: table-cell;
  float: none;
  margin: 0;
}